<div class="container p-3">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formGroupName="biodata">
      <div class="mb-3">
        <label for="firstName" class="form-label">First name</label>
        <input
          formControlName="firstName"
          type="text"
          class="form-control"
          id="firstName"
          aria-describedby="firstName"
        />
      </div>
      <div class="mb-3">
        <label for="lastName" class="form-label">Last name</label>
        <input
          formControlName="lastName"
          type="text"
          class="form-control"
          id="lastName"
          aria-describedby="lastName"
        />
      </div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input
        formControlName="email"
        type="email"
        class="form-control"
        id="exampleInputEmail1"
        aria-describedby="emailHelp"
      />
    </div>
    <div formGroupName="skills" class="mb-3">
      <div class="row">
        <div class="col">
          <input
            formControlName="skillName"
            type="text"
            class="form-control"
            placeholder="Skill name"
            aria-label="Skill name"
          />
        </div>
        <div class="col">
          <input
            formControlName="yearsOfExperience"
            type="text"
            class="form-control"
            placeholder="Years of experience"
            aria-label="Years of experience"
          />
        </div>
      </div>
      <div class="m-3">
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="proficiency"
            id="beginner"
            value="beginner"
            formControlName="proficiency"
          />
          <label class="form-check-label" for="beginner">
            Beginner
          </label>
          
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="proficiency"
            id="intermediate"
            value="intermediate"
            formControlName="proficiency"
          />
          <label class="form-check-label" for="intermediate">
            Intermediate
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="proficiency"
            id="expert"
            value="expert"
            formControlName="proficiency"
          />
          <label class="form-check-label" for="expert">
            Expert
          </label>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
